*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
html{
    scroll-behavior: smooth;
}

.offer{
    background-color: #1D232C;
    text-align: center;
    color: white;
    padding: 10px;
    opacity: 0;
    font-size: 0.8rem;
    animation: fadeIn 1s ease-in forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-content {
    animation: fadeIn1 1s ease-in forwards;
  }

@keyframes fadeIn1 {
    from {
        opacity: 0;
        transform: translateY(-10px); 
       
    }
    to {
        opacity: 1;
        transform: translateY(0);
      
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: #1D232C;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 20;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 50%;
}
.nav-links a{
    text-decoration: none;
    color: #1D232C;
}

.nav-title a{
  text-decoration: none;
  color: black;
}


.nav-icon{
    display: none;
    cursor: pointer;
}
.side-bar {
    background-color: #1D232C;
    width: 50%; 
    position: fixed; 
    left: -50%;
    height: 100vh;
    z-index: 30; 
    top: 0;
    transition: left 0.4s ease-in-out;
}

.side-bar p{
    color: white;
    text-align: right;
    padding-top: 0.5rem;
    padding-right:0.5rem ;
    font-size: 25px;
 
}
.side-bar-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin-top: 3rem;
    padding-left: 30px;
 

}
.side-bar-links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width: 1045px){
    .nav-links{
        display: none;
    }
    .nav-icon{
        display: block;
    }

}
.slider-section{
    position: relative;
    width: 100%;
    display: flex;
   
    
}
/* .slider-images {
   margin-left: 15px;
   margin-right: 15px;
  
} */

.slider-section {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider-images {
    display: flex;
    width: 300vw; /* 3 images = 300% of the viewport */
    margin-left: 0;
    transition: margin-left 0.5s ease-in-out;
  }
  
  .slider-image {
    width: 100vw;
    /* flex-shrink: 0; */
  }
  
  .left-button i,
  .right-button i {
    font-size: 10vw;
    cursor: pointer;
  }
  
  .left-button {
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 9999;
  }
  
  .right-button {
    position: absolute;
    top: 35%;
    right: 5%;
    z-index: 9999;
  }
  
  .slider-content {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    top: 20%;
  }
  
.slider-content h1{
    font-size: 5vw;
}
.slider-content button{
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;


}
.brands{
    padding: 20px;
    margin-top: 1rem;
  
}


.brand-icons{
    display: flex;
    gap: 5;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.brand-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand-item img{
    width: 4vw;
}
.brand-item p{
    font-size: 2vw;
}


.experience-section{
    padding: 20px;
    margin-top: 2rem;
   
}

.upper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
}
.lower-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    


}
.experience-box{
    background-color: #F2F4F7;
    padding: 16px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.experience-box h4 {
    font-size: 1.2rem;
    word-break: break-word;
  }
  @media (max-width: 600px) {
    .experience-box h4 {
      font-size: 1rem;
    }
    .experience-box p {
      font-size: 0.9rem;
    }
  }
  
  @media (min-width: 768px) {
    .lower-section {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .lower-section {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
.New-arrivals {
    padding: 20px;
    margin-top: 1rem;
    max-width: 100%;
}

.arrival-item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.arrival-item-container img {
    width: 100%;
    border-radius: 10px;
}

.arrival-item {
    position: relative;
    width: 23%; 
}

.arrival-item button {
    position: absolute;
    bottom: 10%;
    left: 20%;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    z-index: 3;
    cursor: pointer;
}


@media screen and (max-width: 1045px) {
    .arrival-item {
        width: 45%;
    }
    .New-arrivals-container h1{
        text-align: center;
    }
}



.overlay{
    border-radius: 2%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    top: 0;
    opacity: 0.3;
}

.most-wanted{
    padding: 20px;
    margin-top: 1rem;

}

.most-wanted-product-conatiner{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
}
.most-wanted-product-conatiner::-webkit-scrollbar {
    appearance: none;
}
.product-item{
    position: relative;
}
.sale-overlay{
    position: absolute;
    background-color: red;
    color: white;
    top: 10px;
    left: 10px;
    font-size: 2vw;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;

}

.product-item img{
    width: 20vw;
    border-radius:10px;
}
.like{
    position: absolute;

    bottom: 12%;
    right: 5%;
    cursor: pointer;
}


.limited-offer{
    padding: 20px;
    margin-top: 1rem;

}
.limited-offer-container{
    background-color: #1D232C;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.limited-offer-container-left img{
    width: 100%;
    padding: 5%;
}
.limited-offer-container-right{
    color: white;
    padding: 5%;


    gap: 10px;
}
.limited-offer-container-right h1{
    font-size: 3vw;
}
.limited-offer-container-right h4{
    font-size: 2vw;
}
.limited-offer-container-right button{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1vw;
    margin-top: 25px;
    cursor: pointer;

}


.review-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    gap: 30px;
 
}
.review-item {
    text-align: center;
    font-size: 0.8rem;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    transition: transform 0.5s;
    width: 80vw;
}
.review-item:hover{
    transform: translateY(-10px);
}
.review-item img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.reviews-star{
    padding: 2px;
    margin-top: 20px;
}
@media screen and (max-width: 1045px){
    .review-section-container{
        flex-direction: column;
    }
}

.newsletter-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    
}
.newsletter-section-container{
    text-align: center;
    padding: 10px;
}
.newsletter-section-container h1{
    font-size: 3vw;
}

.newsletter-section-container p{
    font-size: 2vw;
}
.newsletter-section-container input{
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    margin-top: 10px;
}
.newsletter-section-container input:focus{
    outline: none;
}
.newsletter-section-container button{
    font-size: 2vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    border: none;
    background-color: #1D232C;
    color: white;
    border-radius: 5px;
    cursor: pointer;


}
.footer{
    background-color: #1D232C;
    margin-top: 5rem;
}
.footer-container{
    padding:2rem;
    color: white;
}

.footer-container h1{
    font-size: 3vw;

}
.footer-container p{
    font-size: 2vw;
}

.icon{
    width: 5vw;
    margin: 1vw;

}

/* product-page */

.product-page-container{
    display: flex;
    align-items: flex-start;
}

.product-page-left{
    position: sticky;
  top: 10%;
  height: fit-content;
  padding: 25px;
  border-right: 2px solid #1D232C;
  border-bottom:2px solid #1D232C ;
  background-color: white; 
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.product-page-left-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 1rem;
}
.product-page-left-item{
margin-top: 1vw;

  
}
.product-page-left-item{
    font-size: 1.8vw;
}
.product-page-left-item input{
    font-size: 1.8vw;
}

.product-page-product-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 25px;
  margin-top: 3vw;
  margin-right: 3vw;
 

}
.product-page-item{
    flex-grow: 1;
    flex-basis: 30%;
    font-size: 1.2vw;
    text-align: center;
    transition: transform 0.2s;
    
}
.product-page-right{
    width: 100%;

}

.product-page-item img{
    width: 20vw;
    border-radius: 10px;

}

.product-page-right-input{
    margin: 1.2rem;
    position: relative;
}
.product-page-right-input input{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #1D232c;

}
.product-page-right-input input:focus{
    outline: none;

}

.product-page-right-input i{
    position: absolute;
    top: 30%;
    right: 1%;
    padding-right: 10px;
}
.product-page-item:hover{
   transform: scale(1.1);
}

.product-page-left-item label {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 5px;
    font-size: inherit;
}

@media screen and (max-width: 1045px){
    input[type="checkbox"] {
        transform: scale(0.6); 
       

      }
}


.category{
    margin-top: 3rem;
}

.category-container{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin: 2vw;
}


.men {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;

    position: relative;
  }

  .men-container {
    display: flex;
    width: 400%;
    animation: slide 16s infinite;
  }

  .men-container img {
    width: 100vw; 
  
   
    object-fit: cover;
  }

  @keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }

    25% { transform: translateX(-100vw); }
    45% { transform: translateX(-100vw); }

    50% { transform: translateX(-200vw); }
    70% { transform: translateX(-200vw); }

    75% { transform: translateX(-300vw); }
    95% { transform: translateX(-300vw); }

    100% { transform: translateX(0); }
  }

  .mens-content{
    position: absolute;
    top: 35%;
    left: 20%;
    text-align: center;
  }
  .mens-content h1{
    color: white;
    font-size: 3vw;

  }
  .mens-content button{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .women{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
  

  }
  .women-container {
    display: flex;
    width: 400%;
    animation: slide 10s infinite;
  }

  .women-container img {
    width: 100vw; 
 
    object-fit: cover;
  }

  @keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }

    25% { transform: translateX(-100vw); }
    45% { transform: translateX(-100vw); }

    50% { transform: translateX(-200vw); }
    70% { transform: translateX(-200vw); }

    75% { transform: translateX(-300vw); }
    95% { transform: translateX(-300vw); }

    100% { transform: translateX(0); }
  }

  .contact-section {
    width: 90%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
    background-color: #1D232C;
    border-radius: 10px;
    margin-top: 2rem;
  }
  
  .contact-intro > * + * {
    margin-top: 1rem;
    
  }
  
  .contact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }
  
  .contact-description {
    color:white;
    text-align: center;
  }
  
  .form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  .form-input,
  .form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .form-input::placeholder,
  .form-textarea:focus-visible {
    color: #6b7280;
  }
  
  .form-input:focus-visible,
  .form-textarea:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
  }
  
  .form-textarea {
    min-height: 120px;
 
  }
  
  .form-submit {
    width: 100%;
    margin-top: 1.2rem;
    background-color: #3124ca;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
  }
  